.wrapper-about-asteroid {
  height: 702px;
  width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-name {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.wrapper-data {
  display: flex;
  justify-content: space-evenly;
  width: 920px;
}

.main-wrapper-data {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wrapper-text {
  height: 50px;
  width: 300px;
  background-color: rgb(226, 218, 218);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-about-converge {
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  width: 920px;
  background-color: white;
}