.box-asteroid {
  height: 200px;
  width: 920px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  overflow: hidden; 
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-top: 20px;
}

.dino {
  height: 56px;
  width: 48px;
  position: absolute;
  bottom: -8px;
  left: 16px;
}

.asteroid {
  position: absolute;
  left: 100px;
  top: -15px;
}

.wrapper-asteroid-data {
  width: 289px;
  height: 200px;
  margin-left: 347px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.wrapper-destroy-asteroid {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 24px;
} 

.button-destroy-asteroid {
  height: 48px;
  width: 158px;
  border-radius: 25px;
  color:white;
  background-color: #186DD6;
  border-color: #186DD6;
  cursor: pointer;
  margin-top: 8px;
}

.name-asteroid {
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
}

.text-about-asteroid {
  //styleName: Desktop / Body Regular;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

  display: flex;
  align-items: flex-end;
}

.points{  
  flex-grow: 1;
  border-bottom: 1px dotted black;
}

.appraisal {
  text-align: center;
}

.dangerous-asteroid-title::before {
  content: "Опасно";
}

.dont-dangerous-asteroid-title::before {
  content: "Не опасно";
}

.dangerous-asteroid-box {
  background: linear-gradient(90deg, #FFB199, #FF0844);
}

.dont-dangerous-asteroid-box {
  background: linear-gradient(90deg, #CFF37D, #7DE88C);
}

