.body-main-section {
/*   width: 1280px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-footer {
  padding-bottom: 10px;
  padding-top: 10px; 
  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

