.wrapper-converge-asteroid{
  width: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(176, 157, 177);
}

.wrapper-converge-text {
  width: 200px;
  height: 90px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 214, 214);
  font-size: 15px;
}