.wrapper-asteroid {
  padding-bottom: 10px;
}

.wrapper-asteroid:last-child {
  padding-bottom: 0px;
}

@media (max-device-width: 420px) {
  .wrapper-asteroid {
    width: 100%;
  }
}

@media (min-device-width: 420px) and (max-device-width: 1000px) {
  .wrapper-asteroid {
    width: 100%;
  }
}