.box-asteroid {
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  overflow: hidden; 
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.dino {
  height: 56px;
  width: 48px;
  position: absolute;
  bottom: -8px;
  left: 16px;
}

.asteroid {
  position: absolute;
  left: 100px;
  top: -15px;
}

.wrapper-asteroid-data {
  width: 289px;
  height: 200px;
  margin-left: 20%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.wrapper-destroy-asteroid {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 24px;
} 

.button-destroy-asteroid {
  height: 48px;
  width: 158px;
  border-radius: 25px;
  color:white;
  background-color: #186DD6;
  border-color: #186DD6;
  cursor: pointer;
  margin-top: 8px;
}

.button-destroy-asteroid:hover {
  background-color: #d63e18;
  border-color: #d63e18;
}

.name-asteroid {
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

.name-asteroid:hover {
  color: blue;
}

.text-about-asteroid {
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.points {  
  flex-grow: 1;
  margin-bottom: 5px;
  border-bottom: 1px dotted black;
}

.appraisal {
  text-align: center;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-is-dangerous {
  font-weight: bold;
}

.dangerous-asteroid-box {
  background: linear-gradient(90deg, #FFB199, #FF0844);
}

.dont-dangerous-asteroid-box {
  background: linear-gradient(90deg, #CFF37D, #7DE88C);
}

@media (max-device-width: 420px) {
  .box-asteroid {
    height: 400px; 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .dino {
    bottom: -2px;
    padding-right: 300px;
    transform: scale(-1,1);  
    height: 50px;
    width: 50px;
  }

  .asteroid {
    top: 10px;
  }

  .wrapper-asteroid-data {
    margin-left: 0px;
    height: 200px;
    width: 100%;
    background-color: white;
  }

  .wrapper-destroy-asteroid {
    width: 100%;
    background: white;
    justify-content: space-evenly;
  }

  .name-asteroid {
    font-size: 1.5rem;
    position: absolute;
    top: 29%;
    left: 5%;
  }

  .button-destroy-asteroid {
    font-size: 1rem;
    height: 50px;
    width: 150px;
    border-radius: 100px;
  }

  .points {  
    border-bottom: 2px dotted black;
    margin-bottom: 0px;
  }

  .appraisal {
    font-size: 1rem;
  }

  .text-about-asteroid {
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-device-width: 420px) {
  .wrapper-dino-asteroid {
    position: relative;
    height: 220px;
    width: 100%;
  } 
}

@media (min-device-width: 420px) and (max-device-width: 1000px) {
  .box-asteroid {
    width: 100%;
  }

  .wrapper-asteroid-data {
    width: 34%;
  }

  .wrapper-destroy-asteroid {
    width: 15%;
  }

  .button-destroy-asteroid {
    width: 100%;
    font-size: 10px;
  }

  .text-about-asteroid {
    font-size: 14px;
    z-index: 1;
  }

  .name-asteroid {
    z-index: 1;
  }
}

@media (min-device-width: 420px) and (max-device-width: 520px) {
  .wrapper-destroy-asteroid {
    width: 20%;
  }

  .wrapper-asteroid-data {
    margin-left: 10%;
    width: 50%;
  }
}