.wrapper-basket {
  height: auto;
  overflow-x: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.summoning-chack {
  margin-top: 10px;
  cursor: pointer;
  height: 70px;
  width: 150px;
  font-size: 25px;
  border-radius: 25px;
  background-color: rgb(221, 111, 111);
}
