@media (min-device-width: 1250px) {
  .wrapper-main-section {
    display: flex;
    justify-content: center;
    align-items: center;  
  }
}
 @media (max-device-width: 420px) {
  .wrapper-header {
    height: 160px;
    flex-direction: column;
    justify-content: space-around;
  }

  .body-main-section { 
    width: 420px;
  }

  .wrapper-body {
    padding-left: 10px;
    padding-right: 20px;
  }

  .wrapper-swticher {
    padding-top: 0px;
  }

  .wrapper-left-title {
    height: 50px;
    width: auto;
    justify-content: space-around;
  }
  
  .header-main-title {
    font-size: 1.5rem; 
  }

  .header-title-about {
    font-size: 1rem;
    text-overflow: ellipsis;
    line-height: normal;
    padding-top: 20px;
  }

  .text-switcher {
    font-size: 1rem;
  }

  .wrapper-switcher {
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 25px;
  }

  .box-asteroid {
    height: 400px; 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
 
  .wrapper-active-distance {
    font-size: 1rem;
  }

  .wrapper-dino-asteroid {
    position: relative;
    height: 220px;
    width: 100%;
  } 

  .wrapper-asteroid-data {
    margin-left: 0px;
    height: 200px;
    width: 100%;
    background-color: white;
  }

  .wrapper-asteroid {
    width: 100%;
  }

  .appraisal {
    font-size: 1rem;
  }

  .button-destroy-asteroid {
    font-size: 1rem;
    height: 50px;
    width: 150px;
    border-radius: 100px;
  }

  .name-asteroid {
    font-size: 1rem;
    position: absolute;
    top: 30%;
    left: 5%;
  }

  .text-about-asteroid {
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .points{  
    border-bottom: 2px dotted black;
    margin-bottom: 0px;
  }

  .dino {
    bottom: -2px;
    padding-right: 300px;
    transform: scale(-1,1);  
    height: 50px;
    width: 50px;
  }

  .wrapper-destroy-asteroid {
    width: 100%;
    background: white;
    justify-content: space-evenly;
  }

  .asteroid {
    top: 10px;
  }

  .wrapper-footer {
    display: flex;
    justify-content: center;
    height: 20px;
    text-overflow: ellipsis;
    line-height: normal;
    font-size: 1rem;
    display: flex;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .wrapper-switcher {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
  }

  .swither-check-box{
    font-size: 1rem;
  }

  .wrapper-check-box {
    height: 10px;
    width: 10px; 
  }

  .check-box {
    height: 100%;
    width: 100%;
    outline: 2px solid black;
  }

  .text-check-box {
    padding-left: 30px;
  }

  .wrapper-about-asteroid {
    height: auto;
    width: auto;
  }

  .about-name {
    font-size: 1rem;
  }

  .wrapper-converge-asteroid {
    flex-direction: column;
    justify-content: space-around;
  }

  .wrapper-converge-id {
    width: 100%;
    border-radius: 0%;
    font-size: 1rem;
    background-color: rgb(189, 184, 184);
  }

  .wrapper-converge-text {
    margin-top: 10px;
    font-size: 1rem;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-wrapper-data {
    height: auto;
    width: auto;
  }

  .wrapper-data {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }

  .wrapper-about-converge {
    width: 90%;
  }

  .wrapper-text {
    height: 50px;
    width: 200px;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .wrapper-item-basket {
    font-size: 1rem;
    display: block;
  }
  
  .summoning-chack {
    height: 50px;
    width: 200px;
    font-size: 1rem;
  }

  .empty-basket {
    font-size: 1rem;
  }

  .chuck-noris {
    font-size: 1rem;
  }

  .basket-name-asteroid {
    font-size: 1rem;
  }

} 