.wrapper-main-section {
/*   height: auto; 
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;    */
}

@media (min-device-width: 1250px) {
  .wrapper-main-section {
    display: flex;
    justify-content: center;
    align-items: center;  
  }
}
 @media (max-device-width: 420px) {
  .wrapper-header {
    height: 420px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .wrapper-body {
    width: 90%;
  }

  .wrapper-swticher {
    padding-top: 0px;
  }

  .wrapper-left-title {
    height: 300px;
    width: auto;
    justify-content: space-around;
  }
  
  .header-main-title {
    font-size: 5rem; 
  }

  .header-title-about {
    font-size: 3rem;
    text-overflow: ellipsis;
    line-height: normal;
  }

  .text-switcher {
    font-size: 3rem;
  }

  .wrapper-switcher {
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 25px;
  }

  .box-asteroid {
    height: 1200px; 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
 
  .wrapper-active-distance {
    font-size: 3rem;
  }

  .wrapper-dino-asteroid {
    position: relative;
    height: 550px;
    width: 100%;
  } 

  .wrapper-asteroid-data {
    margin-left: 0px;
    height: 400px;
    width: 100%;
    background-color: white;
  }

  .wrapper-asteroid {
    width: 100%;
  }

  .appraisal {
    font-size: 3rem;
  }

  .button-destroy-asteroid {
    font-size: 3rem;
    height: 150px;
    width: 450px;
    border-radius: 100px;
  }

  .name-asteroid {
    font-size: 3rem;
    position: absolute;
    top: 34%;
    left: 5%;
  }

  .text-about-asteroid {
    font-size: 3rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .points{  
    border-bottom: 6px dotted black;
    margin-bottom: 0px;
  }

  .dino {
    right: 10;
    padding-right: 880px;
    transform: scale(-1,1);  
    height: 150px;
    width: 150px;
  }

  .wrapper-destroy-asteroid {
    height: 400px;
    width: 100%;
    background: white;
    justify-content: space-evenly;
  }

  .asteroid {
    top: 100px;
  }

  .wrapper-footer {
    height: 200px;
    text-overflow: ellipsis;
    line-height: normal;
    font-size: 4rem;
    display: flex;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .wrapper-switcher {
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5rem;
  }

  .swither-check-box{
    font-size: 3rem;
  }

  .wrapper-check-box {
    height: 50px;
    width: 50px;
  }

  .check-box {
    height: 100%;
    width: 100%;
    outline: 4px solid black;
  }

  .text-check-box {
    padding-left: 30px;
  }

  .wrapper-about-asteroid {
    height: auto;
    width: auto;
  }

  .about-name {
    font-size: 3rem;
  }

  .wrapper-converge-asteroid {
    flex-direction: column;
    justify-content: space-around;
  }

  .wrapper-converge-id {
    width: 100%;
    border-radius: 0%;
    font-size: 3rem;
    background-color: rgb(189, 184, 184);
  }

  .wrapper-converge-text {
    margin-top: 10px;
    font-size: 2rem;
    height: 150px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-wrapper-data {
    height: auto;
    width: auto;
  /*   display: flex;
    align-items: center;
    justify-content: center; */
  }

  .wrapper-data {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
  }

  .wrapper-text {
    height: 150px;
    width: 930px;
    font-size: 3rem;
    margin-top: 10px;
  }
  
  .wrapper-item-basket {
    font-size: 3rem;
    display: block;
  }
  
  .summoning-chack {
    height: 80px;
    width: 300px;
    font-size: 3rem;
  }
} 