.wrapper-switcher {
  height: 70px;
  width: 920px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-active-distance {
  text-decoration: underline;
}

.text-dont-active-distance {
  font-weight: bold;
}