
.wrapper-converge-asteroid{
  height: 50px;
  width: auto;
  border: 1px solid black;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.wrapper-converge-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 250px;
  border: 1px solid black;
}